@use "../abstracts/index" as *;

.nav {
  background: none;
  font-family: "Barlow", sans-serif;
  @include align(flex, space-between, center);
  padding: 2rem 2rem;
  &__items {
    list-style: none;
    @include align(flex, center, center);
    gap: 3rem;

    li {
      a {
        text-decoration: none;
        color: $white;
      }
      &:last-child a {
        font-family: "Fraunces", serif;
        text-transform: uppercase;
        color: $vdsBlue;
        padding: 1rem 1.5rem;
        background-color: $white;
        border-radius: 100rem;
      }
    }
  }
}
