@use "../abstracts/index" as *;

.nav {
  background: none;
  font-family: "Barlow", sans-serif;
  @include align(flex, space-between, center);
  padding: 2.3rem 3rem;

  &__items {
    list-style: none;
    @include align(flex, center, center);
    gap: 3rem;

    @media only screen and (max-width: 37.5em) {
      position: fixed;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
      height: 45%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2.5rem;
      background-color: $white;
      transition: 1s;
      transform: translateY(-100vh);
      z-index: 9999;
    }

    li {
      a {
        text-decoration: none;
        color: $white;
        @media only screen and (max-width: 37.5em) {
          font-size: 2rem;
          color: $vdgrayblue;
        }
      }
      &:last-of-type a {
        font-family: "Fraunces", serif;
        text-transform: uppercase;
        color: $vdsBlue;
        padding: 1rem 1.5rem;
        background-color: $white;
        border-radius: 100rem;
        &:hover {
          background-color: #3d99c052;
          color: $white;
        }
        @media only screen and (max-width: 37.5em) {
          background-color: $yellow;
        }
      }
    }
  }
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  display: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;

  @media only screen and (max-width: 37.5em) {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.responsive_nav {
  @media only screen and (max-width: 37.5em) {
    transform: none;
  }
}

.nav-close-btn {
  @media only screen and (max-width: 37.5em) {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
